# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# FastAPI / SQLite
*.db
*.sqlite3

# Node.js / React
node_modules/
build/
dist/

# Logs
*.log

# IDE and system files
.vscode/
.idea/
.DS_Store

# Environment variables
.env
